

.container {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;

}

.progress-bar {
 	width: 100%;
 	height: 30px;
 	border-radius: 50px;
 	border: 2px solid #666;
 	margin-bottom: 4px;
    background-color: #d3d3d3;
    text-align: center;
	animation: progress 0.6s;
}
@keyframes progress{
	from {
		background-color: #ff0b4462;
	}
	to{
		background-color: #d3d3d3;
	}
}
@keyframes progressAnimationStrike {
	from {
	  width: 0;
	  background: rgba(255, 0, 0, 0.888);
	  box-shadow: inset 0 1px 2px rgb(255, 36, 36),
		0 1px rgb(255, 10, 10);
		
	}
	to {
	  width: attr(value);
	}
  }
  

.range:before{
    content : '' attr(value);
    margin-left: 17%;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.range {
 	background: limegreen;
 	height: 100%;
    width: 100%;
 	border-radius: inherit;
 	transition: width .3s linear;
    text-align: center;
	transition-property: width, background-color;
	animation: progressAnimationStrike 2s;
}

.toggle-buttons button {
 	margin: 0 10px;
 	padding: 7px 20px;
 	border-radius: 5px;
 	outline: 0;
 	cursor: pointer;
}

.toggle-buttons button:hover {
 	color: white;
 	background: #666;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}